a:link {
  color: blue;
}

a:visited {
  color: purple;
}

.top_half {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}

.bottom_half {
  display: flex;
  justify-content: space-evenly;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  height: 400px;
}
.scheduler {
  height: 400px;
  overflow-y: scroll;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

#calendar_header {
  margin-left: 10%;
}

.past_jobs {
  margin: 30px;
  width: 25%;
  height: 100%;
  
}

.upcoming_jobs {
  margin: 30px;
  width: 25%;
  height: 100%;
}

.jl {
  overflow-y: scroll;
  height: 300px;
}

.add_job {
  margin: 50px;
  width: 80%;
  height: 100%;
}

/* Tooltip container */

/* Tooltip text */
.title .hovertext {
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.title:hover .hovertext {
  visibility: visible;
}

.minijb {
  width: 100%;
}

.minijb tr {
  height: 20px;
}

.minijb th {
  border: 1px solid black;
  padding: 10px;
  color:white;
  background: black;
}

.minijb td {
  border: 1px solid black;
  padding: 10px;
}

#page {
  background-color: white;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  width: 100%;
}

.page-item {
  padding: 5px;
}

span {
    font-weight: bold;
}